.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    top: 150px;
    border: 1px solid black;
    border-radius: 8px;
    gap: 20px;
    padding: 50px 50px;
}
.btn{
    position: relative;
    left: 65px;
}
.link{
    position: relative;
    top: 10px;
    left: 10px;
}
